
#modal-select-file {
	max-height: 100% !important;
	max-width: 100% !important; 
	height: 100% !important;
	width: 100% !important; 
}

.oo-ui-selectFileWidget-dropTarget {
	max-height: 100% !important;
	max-width: 100% !important; 
	height: 100% !important;
	width: 100% !important; 
}