<!-- Material modal create page -->
<div id="create-page-container">
	<div class="create-page-button">
		<div class="button-modal">
			<div class="button-modal-header">
				<!--
					<input type="text" placeholder="Page Name" autocomplete="off" class="button-modal-input button-modal-input-to left" />
				-->
				<div class="button-modal-header-close right"></div>
			</div>
			<div class="button-modal-body">
				<!--
					<input type="text" placeholder="Subject" autocomplete="off" 
					   class="button-modal-input button-modal-input-subject" />
					<textarea placeholder="Say Something" autocomplete="off" class="button-modal-input"></textarea>				
					<div class="button-modal-send button-disabled">Send</div>
				-->
				{{#submit-toggle}}
					<a id="{{id}}" href="{{href}}" data-mfb-label="{{label}}" style="background-color: {{bg-color}}" class="mfb-component__button">
						<i class="mfb-component__child-icon {{class-icon}}">{{icon}}</i>
					</a>
				{{/menu-items}}	
			</div>
		</div>
	</div>
</div>