<!-- Material multi selector -->
<select id="categories-multiselector" style="width: 100%" multiple="multiple">
	{{#categories}}
		<option value="[[category:{{category}}]]">{{category}}</option>
	{{/categories}}
</select>