<!-- Material multi selector -->
<select id="categories-multiselector" style="width: 100%" multiple="multiple">
	<option value=""></option>
	{{#categories}}
		<option value="2">{{category}}</option>
	{{/categories}}
</select>